@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import "tailwindcss";

@theme {
  --color-oxford-blue: oklch(32.1% 0.0204 233.84);
  --color-petrol-blue: oklch(44.99% 0.0432 252.44);
  --color-rainy-blue: oklch(62.17% 0.0294 234.29);
  --color-sky-blue: oklch(81.37% 0.0394 233.68);
  --color-ice-blue: oklch(93.43% 0.0197 245.64);
  --color-light-grey: oklch(97.02% 0 0);

  --font-kaisei: "Kaisei Opti", serif;
}